[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = everettmay1025@gmail.com
[alias]
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    a = add .

	c = commit --verbose
    ca = commit -a --verbose
	cm = commit -m

	d = diff
	s = status -s
    co = checkout

	# list aliases
    alias = "!git config -l | grep alias | cut -c 7-"
[core]
	excludesfile = ~/.gitignore
